header{
    position: sticky;
    top: 0;
    background-color: white;
    font-family: 'Lucida Sans';
}

.footer{
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(165, 165, 165);
    font-family: 'Lucida Sans';
}

H1{
    
    font-family: Georgia;
}

a:link{
    color: black;
}

a:visited{
    color: rgb(58, 58, 58);
}

a:hover{
    color: red;
}

a:active{
    color: blueviolet;
}

header img{
    border-radius: 40px;
}

.largura{
    width: 35px;
    height: 30px;
}

footer img{
    border-radius: 10px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.listasquare{
    list-style-type: square;
    display: block;
}

.listagreeke{
    list-style-type: lower-greek;
}

.float{
    float: left;
}

i{
    color: blue;
}

.googlefonts{
    font-family: "Permanent Marker", cursive;
    font-style: normal;
}

.jaro{
    font-family: "Jaro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }