<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Terceiraapp"
        tools:targetApi="31">
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="title_activity_fullscreen"
            android:theme="@style/Theme.Terceiraapp.Fullscreen" />
        <activity
            android:name=".LifeCicle2"
            android:exported="false" />
        <activity
            android:name=".LifeCicle1"
            android:exported="false" />
        <activity
            android:name=".RelativeLayout"
            android:exported="false" />
        <activity
            android:name=".PlayerDeSons"
            android:exported="false" />
        <activity
            android:name=".RegistarUtilizador"
            android:exported="false" />
        <activity
            android:name=".VerNotas"
            android:exported="false" />
        <activity
            android:name=".InserirNotas"
            android:exported="false" />
        <activity
            android:name=".MenuBlocoNotas"
            android:exported="false" />
        <activity
            android:name=".MostrarPaginaExemplo"
            android:exported="false" />
        <activity
            android:name=".MostrarInformacaoDoAluno"
            android:exported="false" />
        <activity
            android:name=".ExMostrarListaAlunos"
            android:exported="false" />
        <activity
            android:name=".ExercicioListView"
            android:exported="false" />
        <activity
            android:name=".MostrarContasPrimeiroSegundoNumero"
            android:exported="false" />
        <activity
            android:name=".PedirSegundoNumero"
            android:exported="false" />
        <activity
            android:name=".PedirPrimeiroNumero"
            android:exported="false" />
        <activity
            android:name=".MostrarInformacoesUser"
            android:exported="false" />
        <activity
            android:name=".PedirInformacoesUser"
            android:exported="false" />
        <activity
            android:name=".ExMudarNomeForm"
            android:exported="false" />
        <activity
            android:name=".exMudarNomeHome"
            android:exported="false" />
        <activity
            android:name=".CalcularSemanas"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".LoginokActivity"
            android:exported="false" />
        <activity
            android:name=".page1"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>