<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Terceiraapp"
        tools:targetApi="31">
        <activity
            android:name=".views.RecicleView"
            android:exported="false" />
        <activity
            android:name=".views.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="title_activity_fullscreen"
            android:theme="@style/Theme.Terceiraapp.Fullscreen" />
        <activity
            android:name=".views.LifeCicle2"
            android:exported="false" />
        <activity
            android:name=".views.LifeCicle1"
            android:exported="false" />
        <activity
            android:name=".views.RelativeLayout"
            android:exported="false" />
        <activity
            android:name=".views.PlayerDeSons"
            android:exported="false" />
        <activity
            android:name=".views.RegistarUtilizador"
            android:exported="false" />
        <activity
            android:name=".views.VerNotas"
            android:exported="false" />
        <activity
            android:name=".views.InserirNotas"
            android:exported="false" />
        <activity
            android:name=".views.MenuBlocoNotas"
            android:exported="false" />
        <activity
            android:name=".views.MostrarPaginaExemplo"
            android:exported="false" />
        <activity
            android:name=".views.MostrarInformacaoDoAluno"
            android:exported="false" />
        <activity
            android:name=".views.ExMostrarListaAlunos"
            android:exported="false" />
        <activity
            android:name=".views.ExercicioListView"
            android:exported="false" />
        <activity
            android:name=".views.MostrarContasPrimeiroSegundoNumero"
            android:exported="false" />
        <activity
            android:name=".views.PedirSegundoNumero"
            android:exported="false" />
        <activity
            android:name=".views.PedirPrimeiroNumero"
            android:exported="false" />
        <activity
            android:name=".views.MostrarInformacoesUser"
            android:exported="false" />
        <activity
            android:name=".views.PedirInformacoesUser"
            android:exported="false" />
        <activity
            android:name=".views.ExMudarNomeForm"
            android:exported="false" />
        <activity
            android:name=".views.exMudarNomeHome"
            android:exported="false" />
        <activity
            android:name=".views.CalcularSemanas"
            android:exported="false" />
        <activity
            android:name=".views.Menu"
            android:exported="false" />
        <activity
            android:name=".views.LoginokActivity"
            android:exported="false" />
        <activity
            android:name=".views.page1"
            android:exported="false" />
        <activity
            android:name=".views.splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.MainActivity"
            android:exported="true" />
    </application>

</manifest>