
h1{
    color: chartreuse;
    font-size: 50px;
    
}

p{
    color: red;
    background-color: blue;
    font-family: "Bungee Spice", sans-serif;
    
}

.primeiro-paragrafo{
    color: green;
    background-color: blueviolet;
    font-family: "Ariel";
}

#segundo-paragrafo{
    color: fuchsia;
    background-color: black; 
}